<!DOCTYPE html>
<html lang='en'>
<%- include('../partials/head') %>
<body>
    <%- include('../partials/header') %>
    <%- include('../partials/menu') %>
<div class='main-content'>
    <%- include('../partials/single-product') %>
</div>
    <%- include('../partials/footer') %>
</body>
</html>